
@keyframes filterAnimateIn {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

.filterContainer {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    overflow-x: hidden;
    margin: 0px 10px 0px 0px;
    padding: 5vh 1vw 0px 1vw;
    border-radius: 0% 2% 2% 0%;
    position: absolute;
    height: calc(100% - 5vh);
    left: 0;
    top: 0;
    z-index: 1050;
    animation: filterAnimateIn 0.2s ease-in-out;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}


.filterContainer_buildingFilter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    margin-bottom: 2rem;
}

.filterContainer_materialFilter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
}

.filterTitle {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
}

.filterButton_container {
    padding: 0.5vh 1vw 0.5vh 1vw;
    margin: 0.5vh 1vw 0.5vh 1vw;
    width: calc(100% - 4vw);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-wrap: nowrap;
    border: 1px solid black;
    border-radius: 5px;
}

.filterButton_container > label {
    padding: 0px 0px 0px 0.5vw;
}

.filterButton_container > input{
    
}

.filterContainer_filterTypeText {
    margin-bottom: 0;
    font-weight: 250;
}

.filterContainer_filterTypeDivide {
    margin-top: 0;
    margin-bottom: 1vh;
    width: 100%;
    border-top: 2px solid grey;
}

.filterContainer_drawerButtonApply {
    margin: 10% 0% 10% 0%;
    border-radius: 100vh;
    z-index: 1100;
}

.filterContainer_drawerButtonShow {
    position: absolute;
    margin: 0px 0px 0px 1vw;
    top: 50%;
    left: 0;
    z-index: 1050;
}

.filter_RadioButton {
    display: inline-block;
}

.filter_MaterialSelection {
    display: flex;
    flex-direction: column;
    align-items: start;
}